@{
    ViewBag.Title = "Çift Olan Şarkı Sözü Linkleri";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


<section class="content">

    <div class="box box-info pageHeader">
        <div class="box-header with-border">
            <section class="content-header">
                <h1>@ViewBag.Title</h1>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Ana Sayfa</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
        </div>
    </div>

    <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span><i class="fa fa-check pr10"></i> <strong>Başarılı !</strong> Çift olan şarkı sözü linkleri başarıyla temizlendi</span>
    </div>
    
</section>